
.ma-zone-texte {
	display: flex;
	color: red;
	background-color:yellow;
	width: 50px;
	height: 90% ;
	border-style:solid; 
	justify-content: space-around ; 
}

.ma-flexbox {
	display: flex;
	flex-direction:row;
	 background-color: blue ; 
	 width: 190px ;
	height: 70px ;
	justify-content: space-evenly;
}



